@import 'kouto-swiss'
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Saira+Extra+Condensed:700,900'

normalize()

desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

$amarelo  = #FFDE20
$vermelho = #ED3237

*
*:after
*:before
    box-sizing border-box

::selection
    background $amarelo
    color $vermelho

::-moz-selection
    background $amarelo
    color $vermelho

open($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

saira($size, $weight = normal)
    font-size $size + 0px
    font-family 'Saira Extra Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 700
    if $weight == black
        font-weight 900
