.beneficios
    background #000
    padding 60px 0
    .center
        clearfix()
    h3
        saira 60
        color $amarelo
        margin 0
        width 430px
        margin-right 100px
        padding-top 40px
        text-align right
        float left
    p
        margin 0
        width 600px
        float left
        open 18 bold
        color #fff
        line-height 1.5
    +tablet()
        padding 40px 0
        h3
            font-size 40px
            width 200px
            margin-right 40px
            padding-top 0
        p
            width calc('100% - 240px')
            font-size 16px
    +mobile()
        padding 25px 0
        h3
            width 100%
            font-size 32px
            text-align left
            margin 0 0 15px
            padding-top 0
        p
            width 100%
            font-size 15px
            line-height 1.3
