.depoimentos
    .titulo
        background #fff
        padding 55px 0 15px
        h3
            width calc('100% - 300px')
            saira 22
            color #CCCCCC
            margin 0
            text-align right
    .depoimentos-wrapper
        background #EDEDED
        padding 25px 0
    .depoimento
        clearfix()
        .texto
            display block
            width calc('100% - 300px')
            float left
            text-align right
            p
                open 20 light italic
                margin 0 0 1em
                line-height 1.3
                color #4D4D4D
                width 685px
                float right
                &.nome
                    open 14 bold italic
        img
            display block
            float left
            border-radius 100%
            border 4px solid $amarelo
            margin-left 30px
            margin-top -84px
    .depoimentos-cycle
        position relative
        .cycle-pager
            position absolute
            top 0
            right 0
            z-index 101
            a
                display block
                width 8px
                height 8px
                text-indent -9999px
                border 1px solid #999999
                background transparent
                transition background .3s
                border-radius 100%
                margin-bottom 3px
                &.cycle-pager-active
                    background #999999
    +tablet()
        .titulo
            padding 45px 0 15px
            h3
                width calc('100% - 240px')
        .depoimento
            .texto
                width calc('100% - 240px')
                p
                    font-size 18px
                    width 100%
            img
                width 190px
                margin-left 25px
    +mobile()
        .titulo
            padding 25px 0 15px
            h3
                font-size 20px
                width 100%
                text-align left
        .depoimento
            .texto
                width 100%
                text-align left
                p
                    width 100%
                    font-size 16px
                    &.nome
                        font-size 12px
            img
                max-width 100%
                width 120px
                margin 0
        .depoimentos-cycle
            padding-bottom 40px
            .cycle-pager
                top auto
                right auto
                left 0
                bottom 0px
                font-size 0
                a
                    display inline-block
                    margin-right 3px
