.etapas
    background $amarelo
    .center
        clearfix()
    img
        display block
        float left
    .texto
        width 550px
        float right
        padding-top 50px
        h3
            saira 36
            background #000
            color $amarelo
            padding 10px 20px
            margin 0 0 5px
        p
            open 20 bold
            color #000
            border-bottom 1px solid #000
            padding 12px 10px 7px 33px
            margin 0
            &.active
                color $vermelho
                background url('img/seta.png') no-repeat left 15px
        span
            display block
            open 14 normal italic
            margin-top 22px
    +tablet()
        img
            width 260px
            padding-top 30px
        .texto
            width calc('100% - 300px')
            padding 30px 0 40px
            h3
                font-size 30px
            p
                font-size 16px
                &.active
                    background-position left 13px
            span
                font-size 13px
    +mobile()
        overflow hidden
        img
            width 112%
            margin-left -6%
        .texto
            width 100%
            padding 25px 0 30px
            h3
                font-size 24px
            p
                font-size 15px
                &.active
                    background-position left 13px
            span
                font-size 12px
