footer
    .footer-bg
        height 612px
        background url('img/bg-inscreva-se.jpg') no-repeat center
        background-size cover
        padding 90px 0 0
        .center
            height 100%
        h2
            font-size 0
            clearfix()
            span
                display inline-block
                padding 6px 12px
                line-height 1
                float left
                clear left
                &:nth-child(1)
                    background #000
                    color #fff
                    saira 50
                &:nth-child(2)
                    background $amarelo
                    color $vermelho
                    saira 34
        .chamada
            margin-top 45px
            width 573px
            text-align right
            p
                margin 0 0 25px
                open 20 bold
                line-height 1.5
            a
                display inline-block
                border 1px solid #000
                line-height 1
                padding 5px 20px
                saira 60
                color #000
                text-decoration none
                transition background .3s, color .3s
                // pointer-events none
                &:hover
                    background #000
                    color #fff
        .redes-sociais
            position absolute
            left 0
            bottom 40px
            background-image linear-gradient(to right, $amarelo 0%, $amarelo 50%, transparent 100%)
            padding 20px 28px
            font-size 0
            span
                open 20 bold
                line-height 30px
                margin-right 18px
                display inline-block
            a
                display inline-block
                width 30px
                height 30px
                text-indent -9999px
                margin-right 8px
                vertical-align top
                transition transform .3s
                &:hover
                    transform translateY(-3px)
                &.facebook
                    background url('img/ico-facebook.png') no-repeat center
                &.instagram
                    background url('img/ico-instagram.png') no-repeat center
                &.linkedin
                    background url('img/ico-linkedin.png') no-repeat center
        +tablet()
            height 500px
            padding 40px 0
            h2
                span
                    &:nth-child(1)
                        font-size 40px
                    &:nth-child(2)
                        font-size 26px
            .chamada
                width 500px
                p
                    font-size 18px
                    margin 0 0 20px
                a
                    font-size 60px
                    padding 5px 16px
            .redes-sociais
                bottom 0
        +mobile()
            height 350px
            background-position 60% center
            padding 25px 0
            h2
                span
                    padding 5px 8px
                    &:nth-child(1)
                        font-size 26px
                    &:nth-child(2)
                        font-size 18px
            .chamada
                width 100%
                text-align left
                margin-top 30px
                p
                    font-size 14px
                    margin 0 0 15px
                a
                    font-size 32px
                    padding 5px 12px
            .redes-sociais
                bottom 0
                padding 16px
                span
                    display none
                a
                    width 24px
                    height 24px
                    background-size 100% auto !important
    .copyright
        background #000
        padding 27px 0
        p
            margin 0
            open 10
            color #fff
            text-align center
        +mobile()
            padding 16px 0
            p
                font-size 9px
