.grow-with-us
    background #fff
    padding 80px 0
    .box
        border 1px solid #C4C4C4
        padding 64px 32px
        clearfix()
        img
            width 300px
            float left
            display block
        .texto
            width calc('100% - 350px')
            float right
            h2
                saira 24
                color $vermelho
                margin 0 0 1em
            h3
                saira 28
                margin 0
            p
                open 16
                margin 5px 0 0
                line-height 1.3
                span
                    saira 24
                    color $vermelho
                &.descricao
                    margin 10px 0 30px
                    max-width 640px
    +tablet()
        padding 40px 0
        .box
            padding 0
            border none
            img
                width 260px
            .texto
                width calc('100% - 300px')
                h2
                    font-size 20px
                h3
                    font-size 24px
                p
                    font-size 15px
                    span
                        font-size 20px
                    &.descricao
                        margin 10px 0 20px
    +mobile()
        padding 25px 0
        .box
            padding 0
            border none
            img
                max-width 100%
                float none
                margin 0 auto 25px
            .texto
                width 100%
                h2
                    font-size 18px
                h3
                    font-size 22px
                p
                    font-size 14px
                    span
                        font-size 18px
                    &.descricao
                        margin 10px 0 20px
