.header
    width 100%
    height 934px
    background url('img/img-banner.jpg') no-repeat center
    background-size cover
    .center
        position relative
        height 100%
    h1
        position absolute
        left 0
        top 310px
        font-size 0
        clearfix()
        span
            display inline-block
            padding 5px 8px
            line-height 1
            float left
            clear left
            &:nth-child(1)
                background #000
                color #fff
                saira 42
            &:nth-child(2)
                background $amarelo
                color $vermelho
                saira 21
    .logo
        position absolute
        top 50px
        right 0
        width 355px
        height 104px
        background url('img/marca-pirelli.png') no-repeat center
    .btn-inscreva-se
        display inline-block
        position absolute
        right 0
        top 310px
        border 1px solid #fff
        line-height 1
        padding 5px 20px
        saira 64
        color #fff
        text-decoration none
        transition background .3s, color .3s
        // pointer-events none
        &:hover
            background #fff
            color #000
    .btn-confira
        position absolute
        display inline-block
        left 0
        top 640px
        saira 40
        color #000
        text-decoration none
        transition color .3s, background .3s
        padding 5px 8px
        &:hover
            color #fff
            background #000
    +tablet()
        height 640px
        h1
            top 250px
        .logo
            transform scale(.75)
            transform-origin top right
            background-size 100% auto
        .btn-inscreva-se
            top auto
            bottom 120px
        .btn-confira
            font-size 32px
            top 455px
            background #000
            color #fff
    +mobile()
        height 430px
        padding-top 150px
        h1
            position relative
            top auto
            span
                &:nth-child(1)
                    font-size 28px
                &:nth-child(2)
                    font-size 18px
        .logo
            position relative
            top auto
            right auto
            margin 15px 0
            width 178px
            height 52px
            background-size auto 100%
        .btn-inscreva-se
            position relative
            top auto
            font-size 40px
            padding 5px 10px
            float left
        .btn-confira
            float left
            clear left
            position relative
            top auto
            font-size 20px
            background #000
            color #fff
            left auto
            padding 8px 12px
            margin-top 10px
