.niveis
    background #000
    padding 20px 0 45px
    .center
        clearfix()
    .texto
        width 390px
        float left
        p
            open 20
            color #fff
            margin 0
            line-height 1.5
            + p
                margin-top 1.5em
                font-size 18px
        h3
            saira 42
            color $amarelo
            margin 0 0 1em
    .col-wrapper
        width 675px
        float right
        .col
            width calc('50% - 20px')
            float left
            + .col
                float right
            h4
                display inline-block
                padding 5px 8px
                background $amarelo
                color #000
                open 16 bold
                margin 0 0 1em
            p
                display block
                open 16
                line-height 1.3
                margin 0 0 5px
                color #fff
            ul
                padding 0
                margin 0
                li
                    color #fff
                    open 15
                    margin 0
                    position relative
                    padding-left .8em
                    list-style none
                    line-height 1.5
                    &:before
                        content ''
                        position absolute
                        width 4px
                        height 4px
                        background #fff
                        border-radius 100%
                        top .6em
                        left 0
    +tablet()
        padding-top 0
        .texto
            width 100%
            margin-bottom 30px
            h3
                font-size 36px
            p
                font-size 16px !important
                width calc('50% - 30px')
                float left
                + p
                    float right
                    margin-top 0
        .col-wrapper
            width 100%
            .col
                h4
                    font-size 15px
                p
                    font-size 15px
                ul li
                    font-size 14px
    +mobile()
        padding 0 0 25px
        .texto
            width 100%
            margin-bottom 25px
            p
                font-size 15px !important
            h3
                font-size 28px
        .col-wrapper
            width 100%
            .col
                width 100%
                + .col
                    margin-top 20px
                h4
                    font-size 14px
                p
                    font-size 14px
                ul li
                    font-size 13px
