.pirelli
    background $amarelo
    padding 45px 0 60px
    border-bottom 2px solid #000
    .center
        clearfix()
    h3
        saira 60
        color $vermelho
        margin 0 0 .3em
    .col
        width calc('50% - 30px')
        float left
        + .col
            float right
        ul
            padding 0
            margin 0
            li
                color #000
                open 16
                margin 3px 0
                position relative
                padding-left 1em
                list-style none
                line-height 1.5
                &:before
                    content ''
                    position absolute
                    width 4px
                    height 4px
                    background #000
                    border-radius 100%
                    top .6em
                    left 0
    .videos
        width 100%
        clear left
        clearfix()
        a
            display block
            margin 45px 0
            width calc('50% - 30px')
            float left
            &:nth-child(2n)
                float right
            &:nth-child(3)
                float none
                margin 0 auto
            .imagem
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($vermelho, .8)
                    opacity 0
                    transition opacity .3s
                .play
                    position absolute
                    width 60px
                    height 60px
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-200%)
                    z-index 2
                    border 1px solid #fff
                    border-radius 100%
                    opacity 0
                    transition all .3s
                    &:before
                        content ''
                        position absolute
                        top 50%
                        left 50%
                        transform translateX(-40%) translateY(-50%)
                        width 0
                        height 0
                        border-style solid
                        border-width 12px 0 12px 24px
                        border-color transparent transparent transparent #fff
                img
                    width 100%
                    display block
            span
                display inline-block
                saira 28
                padding 5px 8px
                background $vermelho
                color #fff
            &:hover
                .imagem
                    &:after
                        opacity 1
                    .play
                        opacity 1
                        transform translateX(-50%) translateY(-50%)
    +tablet()
        padding 40px 0 50px
        h3
            font-size 36px
        .col
            width calc('50% - 15px')
            ul li
                font-size 14px
        .videos
            a
                width calc('50% - 15px')
                .imagem
                    .play
                    &:after
                        display none
                span
                    font-size 24px
    +mobile()
        padding 25px 0
        h3
            font-size 30px
        .col
            width 100%
            ul li
                font-size 14px
        .videos
            a
                width 100%
                margin 25px 0 0
                &:nth-child(3)
                    float left
                    margin-top 25px
                .imagem
                    .play
                    &:after
                        display none
                span
                    font-size 18px
