.programa
    background #000
    padding 50px 0
    .center
        clearfix()
    .col
        width calc('50% - 50px')
        float left
        p
            open 18
            line-height 1.3
            color #fff
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        + .col
            float right
    +tablet()
        padding 40px 0
        .col
            width calc('50% - 30px')
            p
                font-size 16px
    +mobile()
        padding 30px 0
        .col
            width 100%
            p
                font-size 15px
            + .col
                float left
                margin-top 25px
