.top-bar
    background #000
    a
        display inline-block
        saira 28
        color #fff
        text-decoration none
        padding 4px 6px 4px 10px
        border-left 7px solid $amarelo
        transition background .3s, color .3s
        + a
            margin-left 34px
        &:hover
            background $amarelo
            color #000
        +tablet()
            font-size 24px
        +mobile()
            font-size 18px
            border-width 5px
            + a
                margin-left 20px
